.burger__checkbox {
  display: none;
}

.burger {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  background-color: rgb(0, 0, 0, .3);
}

.burger__checkbox:checked  ~ .burger {
  visibility: visible;
}

.burger__menu {
  box-sizing: border-box;
  position: absolute;
  padding: 160px 0 90px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 520px;
  height: 100%;
  transform: translateX(100%);
  transition: transform ease-out .2s;
  background-color: #fff;
}

.burger__checkbox:checked  ~ .burger .burger__menu {
  transform: translateX(100%) translateX(-100%);
}

.burger__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  object-fit: cover;
  object-position: center;
  transform: rotate(45deg);
  transition: transform ease-out .2s;
  cursor: pointer;
}

.burger__close:hover {
  transform: rotate(135deg);
}

.burger__nav {
  flex: 1 1 auto;
}

.burger__nav-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.burger__link {
  text-decoration: none;
  margin: 0 0 22px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  transition: all ease-out .2s;
}

.burger__link:hover {
  opacity: .7;
}

.burger__link_active {
  border-bottom-color: #000;
}

.burger__profile {
  display: flex;
}

@media screen and (max-width: 568px) {
  .burger__menu {
    padding: 145px 0 45px 0;
  }

  .burger__close {
    top: 13px;
    right: 13px;
  }

  .burger__link {
    margin: 0 0 15px 0;
    padding-bottom: 7px;
  }
}
